/* external css (외부 css) : css 파일에 스타일 코드 작성 */
/* css 주석 */

h1 {
    color : blue;
    background-color: #ffffff;
    
}
        
h2 {
    color : skyblue;
    background-color:  #ffffff;
}

p {
    color : black;
    background-color: peru
}